<template>
  <div class="container">
    <div class="row mt-4">
      <form v-on:submit.prevent="savePost">
        <h1>Добавить пост</h1>
        <div class="mb-3">
          <label class="form-label">Название</label>
          <input v-model="post.title" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Автор</label>
          <select
            v-model="post.authorId"
            class="form-select"
            aria-label="Default select example"
          >
            <option
              v-for="author in authors"
              :key="author.id"
              :value="author.id"
            >
              {{ author.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Описание</label>
          <textarea
            v-model="post.body"
            class="form-control"
            rows="3"
          ></textarea>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "CreatePost",
  data() {
    return {
      authors: [],
      post: {},
    };
  },
  mounted() {
    this.fetchAuthors();
  },
  methods: {
    async fetchAuthors() {
      this.authors = await fetch(
        "https://jsonplaceholder.typicode.com/users"
      ).then((response) => response.json());
    },
    savePost() {
      console.log(this.post);
    },
  },
};
</script>
