<template>
  <div class="container">
    <p v-if="loading">Loading posts...</p>
    <p v-if="error">{{ error.message }}</p>
    <div class="row">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-4 mb-3 border-bottom"
      >
        <a class="btn btn-primary" href="/create">Добавить пост</a>
        <div class="d-flex">
          <div class="btn-group me-2">
            <button
              @click="sortPosts"
              class="btn btn-sm btn-outline-secondary"
              type="button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-filter"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>
          </div>
          <select
            v-model="authorId"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="all" selected>Все</option>
            <option
              v-for="author in authors"
              :key="author.id"
              :value="author.id"
            >
              {{ author.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div
      v-if="posts"
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-5"
    >
      <NewsCard v-for="post in postsFilter" :key="post.id" :post="post" />
    </div>
  </div>
</template>

<script>
import NewsCard from "@/components/NewsCard.vue";
export default {
  name: "HomeView",
  components: { NewsCard },
  data() {
    return {
      loading: false,
      error: null,
      authors: [],
      posts: [],
      authorId: "all",
    };
  },
  mounted() {
    this.fetchAuthors();
    this.fetchPosts();
  },
  computed: {
    postsFilter() {
      return this.authorId === "all"
        ? this.posts
        : this.posts.filter((post) => post.userId === this.authorId);
    },
  },
  methods: {
    async fetchAuthors() {
      this.authors = await fetch(
        "https://jsonplaceholder.typicode.com/users"
      ).then((response) => response.json());
    },
    async fetchPosts() {
      this.posts = [];
      this.loading = true;
      try {
        this.posts = await fetch(
          "https://jsonplaceholder.typicode.com/posts"
        ).then((response) => response.json());
      } catch (error) {
        this.error = error;
      } finally {
        this.loading = false;
      }
    },
    sortPosts() {
      this.posts.sort(function (a, b) {
        if (a.title < b.title) {
          return -1;
        }
        if (a.title > b.title) {
          return 1;
        }
        return 0;
      });
    },
  },
};
</script>
