<template>
  <div class="container">
    <p v-if="loading">Loading post...</p>
    <p v-if="error">{{ error.message }}</p>
    <div v-if="post" class="row g-3 py-5">
      <h1>{{ post.title }}</h1>
      <b> Автор: {{ getPostAuthor.name }} ({{ getPostAuthor.email }})</b>
      <div>{{ post.body }}</div>

      <div class="mt-5">
        <h6>Комментарии:</h6>
        <comment-list :comments="getPostComments"></comment-list>
      </div>
    </div>
  </div>
</template>

<script>
import CommentList from "@/components/CommentList";
export default {
  name: "PostRead",
  components: { CommentList },
  data() {
    return {
      loading: false,
      error: null,
      authors: [],
      post: null,
      comments: [],
    };
  },
  mounted() {
    this.fetchPost(this.$route.params.id);
    this.fetchAuthors();
    this.fetchComments();
  },
  computed: {
    getPostAuthor() {
      return this.authors.find((author) => author.id === this.post.userId);
    },
    getPostComments() {
      return this.comments.filter((comment) => comment.postId === this.post.id);
    },
  },
  methods: {
    async fetchPost(id) {
      this.post = null;
      this.loading = true;
      try {
        this.post = await fetch(
          `https://jsonplaceholder.typicode.com/posts/${id}`
        ).then((response) => response.json());
      } catch (error) {
        this.error = error;
      } finally {
        this.loading = false;
      }
    },
    async fetchAuthors() {
      this.authors = await fetch(
        "https://jsonplaceholder.typicode.com/users"
      ).then((response) => response.json());
    },
    async fetchComments() {
      this.comments = await fetch(
        "https://jsonplaceholder.typicode.com/comments"
      ).then((response) => response.json());
    },
  },
};
</script>
