<template>
  <div class="comment">
    <div v-for="comment in comments" :key="comment.id">
      <p class="comment__author">{{ comment.email }}</p>
      <p class="comment__body">{{ comment.body }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "CommentList",
  props: {
    comments: {
      type: Array,
    },
  },
};
</script>

<style lang="scss">
.comment {
  &__author {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__body {
    font-size: 12px;
  }
}
</style>
