<template>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>Fake News</strong>
        </a>
      </div>
    </div>
  </header>
</template>
