<template>
  <div>
    <the-header />
    <router-view />
  </div>
</template>
<script>
import TheHeader from "@/components/TheHeader";
export default {
  components: {
    TheHeader,
  },
};
</script>
<style lang="scss">
@import "~bootstrap";
</style>
